{{define "choose"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start Pseudo</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/Style/CSS/choose.css">
  <link rel="stylesheet" href="/Style/CSS/general.css">
</head>

<body>
  <div action="/game" method="POST">
    <form action="">
      <h2>Start Pseudo</h2>
      <div class="input-group">
        <div class="input">
          <label for="pseudo">Pseudo</label>
          <input class="rounded-corners" type="text" placeholder="Your Name" required>
        </div>
        <div class="select">
          <label for="difficulty">Select difficulty</label>
          <select name="difficulty" id="difficulty">
            <option value="Easy">Easy</option>
            <option value="Normal">Normal</option>
            <option value="Hard">Hard</option>
            <option value="Insane">Insane</option>
          </select>
        </div>
        <button type="submit">Start Game</button>
        <button><a href="/index">Go back</a></button>
      </div>
    </form>
  </div>
</body>

</html>
{{end}}