{{define "engines"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engines</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/Style/CSS/engines.css">
</head>


<body>
    <nav class="nav-container">
        <div class="nav-style">
            <div class="menu">
                <a href="/home">Home</a>
                <a href="/engines">Engines</a>
                <a href="/scoreboard">Scoreboard</a>
                <a href="#">Developers</a>
            </div>
        </div>
    </nav>
    <main>
        <div class="header-container">
            <h2>
                Car Engines
            </h2>
            <div class="h2-description">
                <p class="description">This page serves as a mini Wikipedia, providing you with detailed information on
                    the engines
                    you'll be swapping. Check out the specs and insights below to get familiar with each option. </p>
            </div>
            <div class="engine-grid">
                <div class="engine-box">
                    <img src="/Style/EnginesPng/render_01-removebg.png" alt="">
                    <ul class="engine-name">
                        <li>K20A</li>
                    </ul>
                </div>
                <div class="engine-box">
                    <img src="/Style/EnginesPng/2015-Chevrolet-Corvette-Z06-LT4-Engine-removebg-preview.png" alt="">
                    <ul class="engine-name">
                        <li>LT4 Supercharged</li>
                    </ul>
                </div>
                <div class="engine-box">
                    <img src="/Style/EnginesPng/m156_01-removebg-preview.png" alt="">
                    <ul class="engine-name">
                        <li>M156</li>
                    </ul>
                </div>
                <div class="engine-box">
                    <img src="/Style/EnginesPng/7e59002d65f594269aa4dc3237431e1c220d29e6_xlarge-removebg-preview.png" alt="">
                    <ul class="engine-name">
                        <li>13B-T</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
{{end}}