{{define "game"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/Style/CSS/general.css">
  <link rel="stylesheet" href="/Style/CSS/game.css">
</head>

<body>

  <div class="hangengine-container">
    <!-- This should change depnding on the trys like if its 1 try this photo appaire etc.. -->
    <img src="/Style/Peugeot206/2 attempt.jpg" alt="a car with a engine hoist">
  </div>

  <main>
    <div class="guessing-zone-container">
      <div class="life-difficulty">
        <div class="health">
          <img src="/Style/homeAssets/engine-piston-clipart-md-4178874543.png" alt="health icon">
          <!-- here the trys left for the player -->
          <p class="trys-left">{{.Attempts}}</p>
        </div>
        <div class="difficulty-bar">
          <!-- this should change on what difficulty the player is playing -->
          <p class="difficulty">{{.Difficulty}}</p>
        </div>
      </div>
      <h2> Guess The Word Mechainc !</h2>
      <div class="display-word">
        <!-- the output should be here for the word to guess and the lettres already guessed -->
        <p class="word-to-guess">Word :{{range .DisplayWord}}{{.}}{{end}}</p>
        <p class="already-guessed">Guessed: {{.GuessedLetters}}</p>
      </div>
      <div class="guess-input">
        <form action="/guess" method="POST">
          <div class="input-contaier">
            <input type="text" placeholder="Type Word or a Letter" name="guess" required>
            <button class="submit-button" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </main>

</body>

</html>
{{end}}