<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/Style/CSS/general.css">
  <link rel="stylesheet" href="/Style/CSS/game.css">
</head>

<body>

  <header>
    <div class="nav-container">
      <div class="health-bar">
        <img src="/Style/homeAssets/piston.png" alt="piston">
        <img src="/Style/homeAssets/piston.png" alt="piston">
        <img src="/Style/homeAssets/piston.png" alt="piston">
        <img src="/Style/homeAssets/piston.png" alt="piston">
        <img src="/Style/homeAssets/piston.png" alt="piston">
        <img src="/Style/homeAssets/piston.png" alt="piston">
      </div>
      <div class="difficulty-bar">
        <p>Hard</p>
      </div>
    </div>
  </header>

  <div class="hangengine-container">
    <img src="/Style/Peugeot206/2 attempt.jpg" alt="a car with a engine hoist">
  </div>

  <main>
    <div class="guessing-zone-container">
      <h2> Guess The Word Mechainc !</h2>
      <div class="display-word">
        <p class="word-to-guess">Word : _ _ _ _ _ _ _</p>
        <p class="already-guessed">Guessed : H J O U F R P </p>
      </div>
      <div class="guess-input">
        <div class="input-contaier">
          <input type="text" placeholder="Type Word or a Letter" required>
          <button class="submit-button" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </main>

</body>

</html>