{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/Style/CSS/index.css">
  <link rel="stylesheet" href="/Style/CSS/general.css">
  <link rel="stylesheet" href="/Style/CSS/navigaton-bar.css">
</head>

<body>
  <nav class="nav-container">
    <div class="nav-style">
      <div class="menu">
        <a href="/index">Home</a>
        <a href="/engines">Engines</a>
        <a href="/scoreboard">Scoreboard</a>
        <a href="#">Swappers</a>
      </div>
    </div>
  </nav>

  <main>
    <div class="container">
      <div class="logo">
        <img src="/Style/homeAssets/Picsart_24-10-26_18-07-06-682.png" alt="HangEngine Logo">
      </div>
      <h2>The ultimate word-guessing showdown, one wrong move and the engine goes Ciao !</h1>
        <div class="play">
          <a href="/choose">Play Now</a>
        </div>
    </div>
  </main>
  <main2>
    <div class="rules-container">
      <div class="rules">
        <h2>Rules of the Game</h2>
        <p class="rules-description">the rules are basically the same as the hangman game, so you can just skip
          this part, its just for design lol.</p>
        <div class="rules-grid">
          <div class="rules-box">
            <h3>How to Play</h3>
            <ul class="rules-list">
              <li>You have 6 attempts to save the engine</li>
              <li>Each wrong letter costs 1 attempt</li>
              <li>Guessing the wrong word costs 2 attempts</li>
              <li>Words are related to car brands and car parts</li>
            </ul>
          </div>
          <div class="rules-box">
            <h3>Winning & Losing</h3>
            <ul class="rules-list">
              <li>Win by saving the engine through correct guesses</li>
              <li>Each engine brings a harder challenge</li>
              <li>Lose if you run out of attempts</li>
              <li>Don't let the engine fall from the hoist!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main2>
</body>

</html>
{{end}}