{{define "scoreboard"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scoreboard</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/Style/CSS/general.css">
  <link rel="stylesheet" href="/Style/CSS/navigaton-bar.css">
  <link rel="stylesheet" href="/Style/CSS/scoreboard.css">
</head>

<body>
  {{template "nav"}}

  <div class="flex-box">
    <div class="blur-background">
      <h2 class="title">Scoreboard</h2>
      <p class="description">Here are all the players who participated in the game along with their achieved scores.</p>
      <div class="container-of-container">
        <div class="container">
          <div class="players">
            <p class="player-name">Malek</p>
            <p class="player-score">20000</p>
          </div>
        </div>
        <div class="container">
          <div class="players">
            <p class="player-name">tacumi</p>
            <p class="player-score">15000</p>
          </div>
        </div>
        <div class="container">
          <div class="players">
            <p class="player-name">Iketani</p>
            <p class="player-score">12000</p>
          </div>
        </div>
        <div class="container">
          <div class="players">
            <p class="player-name">Enzo</p>
            <p class="player-score">10000</p>
          </div>
        </div>
        <div class="container">
          <div class="players">
            <p class="player-name">Antony</p>
            <p class="player-score">9000</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>
{{end}}