* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}