*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.Main_bg {
    width: 100%;
    height: auto;
    background-image: url(/Style/homeAssets/redBackground.jpg) left top no-repeat #050709 fixed;
    position: relative;
    overflow: hidden; 
}

div.Nav.contianer {
    width: 1095px;
    height: 111px;
    background: url(../img/base/menu_bg_index-trans.png) center top no-repeat;
}