* {
  font-family: "Orbitron", sans-serif;
}

body {
  background-image: url(/Style/homeAssets/Picsart_24-10-26_20-16-11-810.jpg);
}

.title {
  font-size: 4rem;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px rgba(0, 155, 255, 0.5);
  letter-spacing: 2px;
}

.description {
  color: white;
  width: 500px;
  text-align: center;
  margin: 20px;
  font-size: 19px;
  font-family: "Turret Road";
  line-height: 1.6;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-background {
  max-width: 1200px;
  padding: 30px;
  width: 100%;
  margin: 150px;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-of-container {
  background-color: rgba(0, 69, 126, 0.623);
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  border: solid;
  border-width: 1px;
  color: rgba(0, 155, 255, 0.3);
  box-shadow: inset 1px 1px 5px rgba(0, 155, 255, 0.3);
  margin: 30px;
}

.container {
  margin: 10px;
  padding: 15px;
  border: 1px solid rgba(0, 155, 255, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 100px;
  max-width: 480px;
  width: 100%;
  background-color: rgba(0, 24, 44, 0.623);
}

.players {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex: 1;
  margin: 0px 20px;
}

.players p {
  font-size: 25px;
  border: solid;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  border-width: 1px;
  border-color: rgba(0, 155, 255, 0.7);
  box-shadow: inset 1px 1px 5px rgba(0, 155, 255, 0.3);
}